html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

figcaption {
  margin-top: 8px;
}
